body{
    background-color:burlywood;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
}
.heading{
    color: rgb(100, 57, 3);
    text-shadow: 2px 2px 2px pink;
}
